extends layout

block content

    h1= title

    br
    br
    br

    p Select a note from the menu

        form(method='POST' action='/notes/')
            div.form-group
                select#id.form-control(type='select' placeholder='Select note list' name='id' required='true' )

                    for note in notes
                        if note._id == selectedNote._id.toString()
                            option(value=note._id selected) #{note.name}
                        else
                            option(value=note._id) #{note.name}

            button.btn.btn-primary(type='submit') Submit

    br

    h4= selectedNote.name

    p= selectedNote.body

    br

    hr

    p
        a(href=selectedNote.url + '/delete') Delete this note
    p
        a(href=selectedNote.url + '/update') Update this note